// Note: we use Autoprefixer to add vendor prefixes to our CSS -> https://github.com/postcss/autoprefixer

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font: {
		size: 1.6rem;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $color-1;
	background-color: $color-4;
	@include font-smoothing;
}

a {
	color: $color-2;
	text-decoration: none;
}

/* -------------------------------- 

1. Auto-Hiding Navigation - Simple

-------------------------------- */

.cd-auto-hide-header {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	margin-left: calc((100% - 1240px) / 2);
  	margin-right: auto;
	width: $L;
	height: $header-height-small;
	background-color: $color-3;
	@include clearfix;
	/* Force Hardware Acceleration */
	transform: translateZ(0);
	will-change: transform;
	transition: transform .5s;

	&.is-hidden {
		transform: translate3d(0, -100%, 0);
	}

	.cd-secondary-nav {
		width: 100%;
		margin-left: 0;
	}

	@include MQ(L) {
		height: $header-height;
	}
}

.cd-auto-hide-header .logo, 
.cd-auto-hide-header .nav-trigger {
	position: absolute;
	@include center(y);
}

.cd-auto-hide-header .logo {
	left: 5%;

	a, img {
		display: block;
	}
}

.cd-auto-hide-header .nav-trigger {
	/* vertically align its content */
	display: table;
	height: 90%;
	padding: 0 1em;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: $color-1;
	font-weight: bold;
	right: 0;
	border-left: 1px solid shade($color-3, 5%);

	span {
		/* vertically align inside parent element */
		display: table-cell;
		vertical-align: middle;
	}

	em, em::after, em::before {
		/* this is the menu icon */
		display: block;
		position: relative;
		height: 2px;
		width: 22px;
		background-color: $color-1;
		backface-visibility: hidden;
	}

	em {
		/* this is the menu central line */
		margin: 6px auto 14px;
		transition: background-color .2s;
	}

	em::before, em::after {
		position: absolute;
		content: '';
		left: 0;
		transition: transform .2s;
	}

	em::before {
		/* this is the menu icon top line */
		transform: translate3d(0, -6px, 0);
	}

	em::after {
		/* this is the menu icon bottom line */
		transform: translate3d(0, 6px, 0);
	}

	@include MQ(L) {
		display: none;
	}
}

.cd-auto-hide-header.nav-open .nav-trigger {
	em {
		/* transform menu icon into a 'X' icon */
		background-color: rgba($color-3, 0);
	}

	em::before {
		/* rotate top line */
		transform: rotate(-45deg);
	}

	em::after {
		/* rotate bottom line */
		transform: rotate(45deg);
	}
}

.cd-primary-nav {
	display: inline-block;
	float: right;
	height: 100%;
	padding-right: 5%;

	> ul {
		position: absolute;
		z-index: 2;
		top: $header-height-small;
		left: 0;
		width: 100%;
		background-color: $color-3;
		display: none;
		box-shadow: 0 14px 20px rgba(#000, .2);

		a {
			/* target primary-nav links */
			display: block;
			height: 50px;
			line-height: 50px;
			padding-left: 5%;
			color: $color-1;
			font-size: 1.8rem;
			border-top: 1px solid shade($color-3, 5%);

			&:hover, &.active {
				color: $color-2;
			}
		}
	}

	@include MQ(L) {
		/* vertically align its content */
		display: table;

		> ul {
			/* vertically align inside parent element */
			display: table-cell;
			vertical-align: middle;
			/* reset mobile style */
			position: relative;
			width: auto;
			top: 0;
			padding: 0;
			@include clearfix;
			background-color: transparent;
			box-shadow: none;

			li {
				display: inline-block;
				float: left;
				margin-right: 1.5em;

				&:last-of-type {
					margin-right: 0;
				}
			}

			a {
				/* reset mobile style */
				height: auto;
				line-height: normal;
				padding: 0;
				border: none;
			}
		}
	}
}

.nav-open .cd-primary-nav ul, 
.cd-primary-nav ul:target {
	/* 
		show primary nav - mobile only 
		:target is used to show navigation on no-js devices
	*/
	display: block;

	@include MQ(L) {
		display: table-cell;
	}
}

/* -------------------------------- 

2. Auto-Hiding Navigation - with Sub Nav

-------------------------------- */

.cd-secondary-nav {
	position: relative;
	z-index: 1;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	width: $L;
	height: $secondary-nav-height-small;
	background-color: $color-1;
	/* Force Hardware Acceleration */
	transform: translateZ(0);
	will-change: transform;
	transition: transform .5s;

	&::after {
		/* gradient on the right - to indicate it's possible to scroll */
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		height: 100%;
		width: 35px;
		background: transparent;
		background: linear-gradient(to left, $color-1, rgba($color-1, 0));
		pointer-events: none;
		transition: opacity .2s;
	}

	&.nav-end::after {
		opacity: 0;
	}

	ul, li, a {
		height: 100%;
	}

	ul {
		/* enables a flex context for all its direct children */
		display: flex;
		padding: 0 5%;
		@include clearfix;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}

	li {
		display: inline-block;
		float: left;
		/* do not shrink - elements float on the right of the element */
		flex-shrink: 0;

		&:last-of-type {
			padding-right: 20px;
		}
	}

	a {
		display: block;
		color: $color-3;
		opacity: .6;
		line-height: $secondary-nav-height-small;
		padding: 0 1em;

		&:hover, &.active {
			opacity: 1;
		}
	}

	@include MQ(L) {
		height: $secondary-nav-height;
		overflow: visible;

		ul {
			/* reset mobile style */
			display: block;
			text-align: center;
		}

		li {
			/* reset mobile style */
			float: none;
			flex-shrink: 1;
		}

		a {
			line-height: $secondary-nav-height;

			&.active {
				box-shadow: inset 0 -3px $color-2;
			}
		}
	}
}

/* -------------------------------- 

3. Auto-Hiding Navigation - with Sub Nav + Hero Image

-------------------------------- */

.cd-secondary-nav {
	&.fixed {
		position: fixed;
		margin-left: calc((100% - 1240px) / 2);
		top: $header-height-small;
	}

	&.slide-up {
		transform: translateY(-$header-height-small)
	}

	@include MQ(L) {

		&.fixed {
			top: $header-height;
			/* fixes a bug where nav and subnab move with a slight delay */
			box-shadow: 0 -6px 0 $color-1;
		}

		&.slide-up {
			transform: translateY(-$header-height);
		}
	}
}


/* -------------------------------- 

Main content

-------------------------------- */

.cd-main-content {
	margin-left: auto;
	margin-right: auto;
	width: $L;
	padding: $header-height-small 5% 2em;
	overflow: hidden;
	background-color: #ffffff;

	&.sub-nav {
		/* to be used if there is sub nav */
		padding-top: $header-height-small + $secondary-nav-height-small;
	}

	&.sub-nav-hero {
		/* to be used if there is hero image + subnav */
		padding-top: 0;

		&.secondary-nav-fixed {
			margin-top: $secondary-nav-height-small;
		}
	}

	p {
		max-width: $L;
		line-height: 1.6;
		margin: 2em auto;
		font-family: $secondary-font;
		color: shade($color-4, 90%);
	}

	@include MQ(L) {
		padding-top: $header-height;

		&.sub-nav {
			padding-top: $header-height + $secondary-nav-height;
		}

		&.sub-nav-hero.secondary-nav-fixed {
			margin-top: $secondary-nav-height;
		}

		p {
			font-size: 2.4rem;
		}
	}
}


/*
	adjust the positioning of in-page links
	http://nicolasgallagher.com/jump-links-and-viewport-positioning/
*/

.cd-main-content.sub-nav :target::before,
.cd-main-content.sub-nav-hero :target::before { 
	display: block;
  	content: ""; 
  	margin-top: -$secondary-nav-height-small; 
  	height: $secondary-nav-height-small; 
  	visibility: hidden; 

  	@include MQ(L) {
  		margin-top: -$secondary-nav-height; 
  		height: $secondary-nav-height;
  	}
}

/* -------------------------------- 

Intro Section

-------------------------------- */

.cd-hero {
	/* vertically align its content */
	display: table;
	width: $L;
	margin-left: auto;
	margin-right: auto;
	margin-top: $header-height-small;
	height: 300px;
	background: url(../img/cd-hero-background.jpg) no-repeat center center;
	background-size: cover;

	.cd-hero-content {
		/* vertically align inside parent element */
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}

	@include MQ(M) {
		height: 400px;
	}

	@include MQ(L) {
		height: 600px;
		margin-top: $header-height;
	}
}

/* -------------------------------- 

Footer Section

-------------------------------- */

.cd-main-content {
	#resume-data {
	  padding-left: 5%;
	  padding-right: 5%;
	}
	#resume-li {
	  margin-top: 5%;
	}
	.resume-header {
		font-size: 40px;
		font-weight: bold;
		margin-top: -1%;
		margin-bottom: -2%;
		border-bottom: 2px; 
		border-color: black;
	}
	.resume-basic {
		text-align: center;
		margin-bottom: -10px;
	}
	#social-table, #education-table, #skills-table {
		width: 100%;
		text-align: center;

		td {
			width: calc($L / 3);
		}
	}
	#education-table tr p {
		margin-top: -10px;
	}
	#skills-table td {
		width: calc($L / 5);
	}
}
.experience-info {
  padding-left: 10%;
}
.experience-first-row {
  width: 100%;
  margin-bottom: -8%;

  .second-column {
  	text-align: right;
  }

  strong {
  	font-size: 120%;
  }
}
.resume-icons {
  float: left;
  height: 40px;
  margin-top: 5px;
  margin-right: 10px;
}
@include MQM(M) {
  #social-table, .experience-first-row, #education-table {
    width: 100%;
    align: center;

    td {
    	display:block;
		width:100%;
    }
  }
  .experience-first-row {
  	td {
  		margin-bottom: -1em;
  		p {
  			padding-top: -100px;
    		text-align: left !important;
  		}
  	}
  	.first-row-one {
  		margin-top: 0px ;
    	margin-bottom: -2em;
  	}
  }
  #social-table td{
    margin-left: auto;
    margin-right: auto;
  }
} 

@include MQ(L) {
	.section {
		width:1024px;
		.max-length {
			width:1024px;
		}
	}	
}

/* -------------------------------- 

Footer Section

-------------------------------- */

.footer-bar {
  height: $footer-height;
  margin-left: auto;
  margin-right: auto;
  width: $L;
}
.footer-table {
  width: 100%;
  height: 100%;
  vertical-align: center;
  margin-top: auto;
  margin-bottom: auto;

  td {
  	width: calc(100% / 3); 
	vertical-align: top;
  }
}
footer {
  width: 100%;
  height: 100px;
  background-color: $color-1;

  p {
  	height: 100%;
	text-align: center;
	color: white;
	padding-top: 48px;
  }
}

/* -------------------------------- 

Fix for screen bigger than 1240px

-------------------------------- */

@media only screen and (max-width: 1240px) {
  .footer-bar, .cd-hero, .cd-secondary-nav, .cd-auto-hide-header, .cd-main-content {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

/* -------------------------------- 

Bracket Hover Over 

-------------------------------- */

#cd-navigation, .cd-secondary-nav {
	a::before {
		display: inline-block;
    	opacity: 0;
    	transition: transform 0.3s, opacity 0.2s;
    	text-decoration: none;
    	margin-right: 5px;
    	content: '[';
    	transform: translateX(20px);
	}

	a::after {
		display: inline-block;
	    opacity: 0;
	    transition: transform 0.3s, opacity 0.2s;
	    text-decoration: none;
	    margin-left: 5px;
	    content: ']';
	    transform: translateX(-20px);
	}

	a:hover::before, a:hover::after, a:focus::before, a:focus::after {
		opacity: 1;
    	transform: translateX(0px);
	}
}

/* -------------------------------- 

Keyframe Section

-------------------------------- */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInFast {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.m-scene {
	.scene_element {
	  animation-duration: 1s;
	  transition-timing-function: ease-in;
	  animation-fill-mode: both;
	}

	.scene_element--fadeinpicture {
	  animation-delay: 0.5s;
	  animation-duration: 2s;
	  animation-name: fadeIn;
	}

	.scene_element--fadein {
	  animation-duration: 1.5s;
	  animation-name: fadeIn;
	}

	.scene_element--fadeinup {
	  animation-duration: 1s;
	  animation-name: fadeInUp;
	}

	.scene_element--fadeindown {
	  animation-name: fadeInDown;
	}

	.scene_element--fadeinright {
	  animation-name: fadeInRight;
	}
}